* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 3rem 5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

section {
  display: flex;
  width: 100%;
  gap: 0 10px;
}

.form-buttons {
}
