@import url("./colors.css");
@import url("./fonts.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4ca1af; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca1af, #c4e0e5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca1af, #c4e0e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
  position: relative;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  display: flex;
  max-width: 350px;
  width: 100%;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-color:aqua 1px solid ;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(255,255,255,0.8);
}

form > h1 {
  text-align: center;
  margin-bottom: 0.3rem;
  color: var(--strong-color);
  font-size: 1.8rem;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

label {
  font-weight: 700;
  font-size: 1.0rem;
}

.form-buttons {
  display: flex;
  width: 100%;
  justify-content: end;
  flex-direction: row;
}

input {
  width: 100%;
}

.input-name,
.input-number,
select {
  padding: 0.2rem 0.5rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #949597;
  background: transparent;
}

.input-name:focus,
.input-number:focus,
select:focus {
  border-bottom: 2px solid var(--primary-color);
}

select {
  width: 100%;
  font-weight: 600;
  font-size: 0.9rem;
}

button {
  padding: 0.4rem 1rem;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1rem;
  width: max-content;
  transition: all 0.3s ease;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--strong-color);
}

button:hover {
  opacity: 0.7;
}

button[type="reset"] {
  background-color: var(--gray-color);
  color: white;
}

.form_input-error {
	display: none;
}

.input-name-error {
  padding: 0.2rem 0.5rem;
  border: none;
  outline: none;;
  background: transparent;
  border-bottom: 2px solid #f34028;
}

.formulario_input-error-active {
  font-size: 12px;
  text-align: justify;
	margin-bottom: 0;
	display: block;
  color: #f34028;
}